/*** The CSS Reset ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*  Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

html {
    background: radial-gradient(circle, #ff3700 0%, rgba(var(--color-dark-rgb), 0) 66%);
    scroll-behavior: smooth;
}

$max-width: 1440px;

$white: #fafafa;
$pure-white: #ffffff;
$subheading: #707070;
$borderonwhite: #c9c9c9;
$borderonwhite2: #e6e6e6;
$black: #0a0a19;

@font-face {
    font-family: "Lay Grotesk Regular";
    src: url(../fonts/laygrotesk-regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Lay Grotesk Bolder";
    src: url(../fonts/laygrotesk-black.otf);
    font-weight: bolder;
}

@font-face {
    font-family: "Lay Grotesk Bold";
    src: url(../fonts/laygrotesk-bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Lay Grotesk Medium";
    src: url(../fonts/laygrotesk-medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Lay Grotesk Semibold";
    src: url(../fonts/laygrotesk-semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: "Mazius Regular";
    src: url(../fonts/mazius/MaziusDisplay-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Mazius Bold";
    src: url(../fonts/mazius/MaziusDisplay-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Mazius Extra Italic";
    src: url(../fonts/mazius/MaziusDisplay-Extraitalic.otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Monogram";
    font-weight: 400;
    src: url(../fonts/monogram.woff2) format("woff2")
}

@mixin max-width($width) {
    width: $width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: $black;
    color: $white;
    font-family: "Lay Grotesk Regular", sans-serif;
    font-weight: normal;
    letter-spacing: 0.05em;
    overflow-x: hidden;

    .position--absolute {
        position: absolute;
    }

    .visibility--hidden {
        visibility: hidden;
    }

    .d-none {
        display: none !important;
    }

    .d-inline-block {
        display: inline-block;
    }

    .contained {
        @include max-width($max-width);
    }
}

body>header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    border-bottom: 1px solid rgb(211, 211, 211, 0.4);
}

.nav {
    @include max-width($max-width);
    height: 60px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    &--logo {
        height: 60px;
        width: auto;
        margin-right: 8px;
        filter: invert(1) brightness(100) contrast(100);
        aspect-ratio: 1 / 1;
        padding: 5px;
    }

    &--parts {
        display: flex;
        align-items: stretch;
    }

    &--links {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

        &.active {
            pointer-events: none;

            &>span:before {
                top: 0;
                background: $white;
            }
        }

        &>span:before {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            background: transparent;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -10px;
            transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &.link--leda::before {
            top: calc(100% - 15px);
            height: 1px;
            width: 80%;
            left: auto;
            right: auto;
        }

        &.link--leda::after {
            top: 25%;
            text-align: center;
            font-weight: 400;
        }
    }

    &__branding {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $white;
    }

    i.customlineheight {
        position: relative;
        top: -1.55px;
    }
}

#main {
    & .banner {
        padding-top: calc(60px + 2rem);
        /* Adjust for the fixed header height */
    }
}

.custom-cursor,
.custom-cursor-2 {
    position: fixed;
    /* Ensures it stays relative to the viewport */
    width: 20px;
    height: 20px;
    background-color: $white;
    /* Example: a blue circle */
    border-radius: 0;
    pointer-events: none;
    /* Prevents the custom cursor from interfering with mouse events on underlying elements */
    z-index: 9999;
    /* Ensures it's on top of other content */
    transform: translate(-50%, -50%);
    /* Centers the cursor on the mouse position */
    mix-blend-mode: difference;
    visibility: hidden;
}

.custom-cursor-2 {
    width: auto;
    height: auto;
    font-size: 18px;
    color: $black;
    padding: 5px;
    line-height: 1;
}

.font {
    &--mono {
        font-family: "Monogram", sans-serif;
        font-weight: 400;
    }

    &--lay {
        font-family: "Lay Grotesk Regular", sans-serif;

        &.font--bold {
            font-weight: 700;
            font-family: "Lay Grotesk Bold", sans-serif;
        }

        &.font--semibold {
            font-weight: 600;
            font-family: "Lay Grotesk Semibold", sans-serif;
        }

        &.font--medium {
            letter-spacing: -1.2px;
            font-weight: 500;
            font-family: "Lay Grotesk Medium", sans-serif;
        }

        &.font--style-normal {
            font-style: normal !important;
        }
    }

    &--maz {
        font-family: "Mazius Regular", sans-serif;

        &.font--italic {
            font-weight: 400;
            font-family: "Mazius Extra Italic", sans-serif;
            font-style: italic;
        }

        &.font--bold {
            font-weight: 700;
            font-family: "Mazius Bold", sans-serif;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Lay Grotesk Medium", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 1.1em;
}

h3 {
    font-size: 40px;

    &+.subheading {
        font-size: 16px;
        color: $subheading;
        line-height: 1.4;
        margin-top: 16px;
        margin-bottom: 3rem;
        letter-spacing: -.02em;
        max-width: 600px;
        width: 400px;
        max-width: 100%;
    }
}

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--white {
        color: $white;
    }
}

.fluid-fit {
    white-space: nowrap;
    /* tweak the middle value to control scaling aggressiveness */
    font-size: clamp(18px, 6vw, 82px);
    line-height: 1.1;
    width: 100%;
}

.banner {
    height: 100vh;
    width: 100vw;
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    padding: 32px 0 40px;
    position: relative;
    width: 100%;
    z-index: 6;

    &__grain-overlay {
        z-index: -3;
        opacity: .35;
        mix-blend-mode: overlay;
        background-image: url("./../images/grain.png");
        background-size: 200px;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }


    &__spline-wrap {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
    }

    &__text {
        @include max-width($max-width);

        &[data-text-position="top"] {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        &--para {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.changeonhover {
    display: inline-block;
    position: relative;

    &::after {
        color: $white;
        opacity: 0;
        transition: 0.3s all ease-in;
        content: "Developer";
        position: absolute;
        left: 0;
        top: 0;
    }

    &:hover {
        color: transparent;
    }

    &:hover::after {
        opacity: 1;
    }
}

.square {
    align-self: center;
    display: inline-block;
    aspect-ratio: 1 / 1;
    background-color: $white;
    flex: none;
    height: 4px;
    overflow: hidden;
    position: relative;
    width: 4px;
    margin-right: 6px;
    margin-top: -1px;
}

.freetext {
    position: absolute;

    &--bottom {
        left: 0;
        bottom: 0;
        top: auto;
    }
}

.link {
    color: $white;

    &:hover {
        color: $white;
    }

    &--nopointer {
        pointer-events: visible;
        cursor: default;
    }

    &--before--nodecoration::before,
    &--helike::before {
        height: 0px;
    }
}

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__text {
        &--title {
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        &--para {
            width: 75%;
            margin: 0 auto;
            font-size: clamp(24px, 6vw, 52px);
        }

        &--sub {
            color: $white;
            font-size: 18px;
            line-height: 1.3;
            width: 480px;
            margin: 2.5rem auto 0;
        }
    }
}

.profile {
    background-color: $white;
    color: $black;

    .about__text {
        width: 1220px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 4rem 0;

        &--sub {
            color: $black;
            margin-left: 0;
            font-size: 14px;
            letter-spacing: 0.1px;
        }
    }

    &--text-wrap {
        text-align: left;
        width: 45%;
    }

    &--code-wrap {
        width: 55%;
        overflow: hidden;
    }

    &--text {
        font-size: clamp(18px, 6vw, 32px);
        line-height: 1.2;
        margin: 0;
    }
}

.illustration-editor {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    position: relative;

    & .code-blocks {
        width: max-content;
        margin-left: auto;
    }
}

.code {
    width: 290px;
    height: 145px;
    background: #1D1E22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 5;
    font-family: monospace, sans-serif;

    header {
        display: grid;
        grid-template-columns: 36px auto 36px;
        align-items: center;

        svg {
            margin: 10px;
        }

        h1 {
            font-family: Lato, sans-serif;
            font-weight: 900;
            font-size: 14px;
            letter-spacing: 1.57px;
            color: #C5C8D4;
            margin: 0;
        }
    }

    &-html {
        margin-left: 0;
    }

    &-css {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 145px;
    }

    &-js {
        margin-right: auto;
    }

    .code-content {
        font-size: 14px;
        margin: 0 10px 10px;
        color: white;
        text-align: left;
        ;
        letter-spacing: 0;

        .c-r {
            color: #A88038
        }

        .c-o {
            color: #DE7300
        }

        .c-y {
            color: #E1CA72
        }

        .c-g {
            color: #74B087
        }

        .c-p {
            color: #9F8198
        }

        .c-b {
            color: #7A99AD
        }

        .c-c {
            color: #666666
        }
    }

    &-css {
        .code-content code {
            .line {
                @for $i from 1 through 5 {
                    &-#{$i} {
                        width: 0%;
                        margin: 0;
                        border-right: .15em solid transparent;
                        overflow: hidden;
                        display: inline-block;
                        white-space: nowrap;
                    }
                }


                &-1 {
                    animation: typing-1 3s 0s steps(30, end) forwards, cursor 1s linear 0s 3;
                }

                &-2 {
                    animation: typing-2 3s 3s steps(30, end) forwards, cursor 1s linear 3s 3;
                }

                &-3 {
                    animation: typing-3 3s 6s steps(30, end) forwards, cursor 1s linear 6s 3;
                }

                &-4 {
                    animation: typing-4 3s 9s steps(30, end) forwards, cursor 1s linear 9s 3;
                }

                &-1,
                &-3,
                &-4 {
                    animation-duration: 1s;
                    animation-timing-function: steps(10, end);
                }

                &-5 {
                    border-color: transparent;
                    animation:
                        typing-5 3s 12s steps(30, end) forwards,
                        cursor-persist 1s linear 12s infinite;
                }

                &-2 {
                    margin-left: 2rem;
                }

                &-3,
                &-4,
                &-5 {
                    margin-left: 4rem;
                }
            }
        }
    }
}

.editor-block {
    position: absolute;
    display: block;
    width: 500px;
    height: 421px;
    background: linear-gradient(109.61deg, #4C4F5A 4.26%, #202125 84.84%);
    border-radius: 10px;
}

@keyframes typing-1 {
    from {
        width: 0
    }

    to {
        width: 60px
    }
}

@keyframes typing-2 {
    from {
        width: 0
    }

    to {
        width: 220px
    }
}

@keyframes typing-3 {
    from {
        width: 0
    }

    to {
        width: 70px
    }
}

@keyframes typing-4 {
    from {
        width: 0
    }

    to {
        width: 75px
    }
}

@keyframes typing-5 {
    from {
        width: 0
    }

    to {
        width: 141px
    }
}


@keyframes cursor {

    from,
    to,
    20%,
    80% {
        border-color: transparent
    }

    25%,
    75% {
        border-color: white
    }
}

@keyframes cursor-persist {

    from,
    45% {
        border-color: transparent
    }

    50%,
    to {
        border-color: white
    }
}

.experience {
    background-color: $pure-white;
    position: relative;
    width: 100%;
    z-index: 2;

    padding: 0;
    color: $black;

    .about__text {
        min-height: 100vh;
        width: 1220px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding: 0 24px;
        padding-bottom: 100px
    }

    &__text {
        width: 35%;
        position: sticky;
        top: 90px;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    &__grid {
        padding-top: 280px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;
        overflow: hidden;

        &--row {
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
            gap: 20px 40px;
            border-bottom: 1px solid $borderonwhite;

            &>div {
                font-size: 24px;
                line-height: 1.4;
                padding: 24px 0;
            }
        }

        &--headrow {
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
            gap: 20px 40px;

            &>div {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $subheading;
                padding: 10px 0;
            }
        }
    }
}

.skillset {
    background-color: $black;
    color: $white;

    &__skill {
        font-size: 18px;
        color: $subheading;
        text-transform: uppercase;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        width: 60%;
        margin: 0 auto;
        margin-right: 0 !important;
        padding: 280px 24px 80px;
        overflow: hidden;

        &--row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0;

            &>div.skillset__grid--itemwrap {
                font-size: 24px;
                aspect-ratio: 1 / 1;
                line-height: 1.4;
                padding: .5rem;
                border: 1px solid $borderonwhite2;
                transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);

                &:hover {
                    background-color: $black;
                    color: $white;

                    & .skillset__grid--itemtop {
                        color: $borderonwhite;
                    }
                }
            }
        }

        &--item {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            &top {
                font-size: 18px;
                color: $subheading;
            }
        }
    }
}

.projects {
    background-color: $white;
    color: $black;

    &__text {
        width: 100%;
        position: relative;
        top: 0;
        padding-top: 150px;
        padding-bottom: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        z-index: 999;
        align-items: center;

        & .square {
            top: -3px;
            background-color: $black;
        }
    }

    &__grid {
        padding-top: 0px;
        width: 100%;
        overflow: hidden;

        &--row {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 2rem;

            &:nth-child(even) {
                .emptydiv {
                    order: 1;
                }

                .projects__grid--itemwrap {
                    order: 2;

                    & .projects__grid--item {
                        width: max-content;
                        margin-left: auto;
                        max-width: 100%;
                    }
                }
            }
        }

        &--itemwrap {
            cursor: pointer;
            display: block;
            width: 70%;
            text-decoration: none;
            color: $black;
            padding: 10px;
            background-color: transparent;

            &:hover {
                & .projects__grid--img {
                    filter: grayscale(0);
                    // border-color: $black;
                }

                // &:hover video {
                //     top: 0;
                //     display: block;
                // }
            }
        }

        & .emptydiv {
            width: 30%
        }

        &--img {
            margin-bottom: 16px;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            height: 55vh;
            overflow-y: scroll;
            filter: grayscale(1);
            border: 5px solid $borderonwhite2;
            position: relative;

            & video {
                display: none;
                width: 100%;
                width: 100%;
                height: 100%;
                z-index: -1;
                position: absolute;
                left: 0;
                right: 0;
                object-fit: cover;
                transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        &--title {
            margin-bottom: 16px;
        }

        &--tag {
            display: inline-block;
            padding: 10px 15px;
            border: 1px solid #707070;
            margin-right: 10px;
        }
    }
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid #343434;
    border-radius: 20px;
    background: #343434;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 20px;
    background: white;
    transition: all 0.3s;
}

.toggleCheckbox:checked+.toggleContainer::before {
    left: 50%;
}

.toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
}

.toggleCheckbox {
    display: none;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
    color: #343434;
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
    color: #343434;
    transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:last-child {
    color: white;
    transition: color 0.3s;
}

.button {
    color: $black;
    cursor: pointer;
    letter-spacing: 0.02em !important;

    &--icon {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -4px;
        padding: 7px 9px;
        border: 1px solid $subheading;
        border-radius: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
        background-color: transparent;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        svg {
            width: 100%;
            height: auto;
        }
    }

    &:hover {
        .button--icon {
            background-color: $black;

            svg path {
                fill: $white !important;
            }
        }
    }
}

.contact {
    h1 {
        font-size: 180px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 90%);
        color: transparent;
        background-clip: text;
        transition: all 0.2s ease-in-out;
    }

    & .tagline {
        width: 320px;
        font-size: 22px;
        color: $subheading;
        white-space: normal;
        margin: 0 auto;
    }

    & .banner__text:hover {
        h1 {
            background-image: linear-gradient(260deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 90%);
        }

        .tagline {
            color: $white;
        }
    }

    &--social {
        font-size: 22px;
    }

    &--row {
        width: 430px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0.5rem;
        border-top: 1px solid #2e2e2e;
        border-bottom: 1px solid #2e2e2e;
        transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            border-color: $white;

            & .contact--row__head {
                color: $white;
            }
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $subheading;
            transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &__content {
            font-size: 32px;

            a {
                display: inline-block;
                line-height: 0;
            }
        }
    }
}

*[data-aos] {
    overflow: hidden;
}

@media (max-width: 1440px) {
    body .contained {
        padding-left: 20px;
        padding-right: 20px;
    }

    .profile {
        .about__text {
            padding: 4rem 20px;

            &--sub {
                max-width: 100%;
            }
        }
    }

    .about {
        .about__text {

            &--sub {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 700px) {
    header {
        display: none;
    }

    .profile {

        &--text-wrap,
        &--code-wrap {
            width: 100%;
        }
    }

    .code-blocks {
        margin: 2rem auto 0;

        & .code {
            margin: 0 auto 2rem;
        }
    }

    .profile {
        .about__text {
            flex-flow: column wrap;
        }
    }

    .experience {

        &__text,
        &__grid {
            width: 100%;
            position: relative !important;
            padding-top: 50px !important;
        }
    }

    .projects__grid--itemwrap {
        width: 100%;
    }

    .contact--row {
        flex-flow: column wrap;
        gap: 1rem;
        max-width: 100%;
    }

    .contact h1 {
        font-size: 100px;
        ;
    }

    #banner {
        justify-content: center;
        gap: 20px;

        & .banner__spline-wrap {
            z-index: -1;
        }

        & .fluid-fit {
            text-shadow: 1px 1px 8px #ffffffcc;
        }
    }

    .fluid-fit {
        font-size: clamp(32px, 9vw, 82px);
    }
}